body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

canvas {
  border: 1px solid;
}

button {
  margin: 8px;
}

#inputs-wrapper {
  margin-top: 24px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
